{% extends 'base.html' %}
{% load i18n %}

{% block content %}
    <h1>Index !</h1>

    {% trans "Bonjour !" %}
    <p>
    {% blocktrans trimmed %}
        Bienvenue sur mon blog
    {% endblocktrans %}
    </p>

{% endblock %}